/cats-and-dogs-image-classification
/entradas.csv
/saida.csv
/student-stress-factors-a-comprehensive-analysis
/travel-insurance-prediction-data
/wine-quality-dataset
/Entregas/kaggle.json
/Activate venv_dev.ps1
/.venv_dev